<h2 id="title">Welcome to Bustle, a pimpin news site.</h2>
<span class="btn btn-info">{{#link-to 'index'}}Home{{/link-to}}</span>
<span class="btn btn-info">{{#link-to 'admin'}}Administrator{{/link-to}}</span>
{{outlet}}
